<h1>Edit Book</h1>
<form class="form-horizontal">
<%= form_for(@book) do |f| %>
  <div class="field">
    <%= f.label :name, class: "col-md-4 control-label" %>
    <%= f.text_field :name  %><br/>
  </div>

  <div class="field">
    <%= f.label :price, class: "col-md-4 control-label" %>
    <%= f.number_field :price, step: 0.01 %><br/>
  </div>	

  <div class="field">
    <%= f.label :quantity, class: "col-md-4 control-label" %>
    <%= f.number_field :quantity %><br/>

  </div>
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
</form>